<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.goin.feature.search.event" >
    <application>

        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SearchViewTheme" />
    </application>
</manifest>
