<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com">

    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/splash_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <!-- Branch init -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_giVldAxJX2PuaX2hZ9LBChclwDpKtmYd" />
        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="key_test_lcIneErL28SAb39c73LrDjogtwnPwg2x" />

        <!-- Branch testing (TestMode "true" to simulate fresh installs on dev environment) -->
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="false" />

        <!-- Branch install referrer tracking -->
        <receiver
            android:name="io.branch.referral.InstallListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".legacy.viewControllers.activitites.base.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".legacy.viewControllers.activitites.CommentsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".legacy.viewControllers.activitites.GalleryDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <!-- TODO: API key tempraria, quando for mandar para producao trocar por uma exclusiva do projeto -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBR9hUpSZ913OcxAnbet0xBGAtiFeDUzqQ" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".legacy.viewControllers.activitites.PhotoGalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".legacy.viewControllers.activitites.PostLikersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".legacy.viewControllers.activitites.UploadProfilePictureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".legacy.viewControllers.activitites.PlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".legacy.viewControllers.activitites.SinglePostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".legacy.viewControllers.activitites.SelectFriendsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".legacy.viewControllers.activitites.PaymentMethodActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.appsimples.buyTicket"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".legacy.viewControllers.activitites.TicketPurchaseActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.appsimples.buyTicket"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".legacy.viewControllers.activitites.InfoPaymentActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.appsimples.buyTicket"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".legacy.viewControllers.activitites.VipBoxPaymentActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.appsimples.buyTicket"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".legacy.newlayout.profile.NewEditProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name_build" />
        <activity
            android:name=".legacy.newlayout.profile.NewUserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".legacy.viewControllers.activitites.ConnectionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".legacy.newlayout.searchfilter.NewFilterSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".legacy.features.placeholderisloged.PlaceholderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme" />

        <activity
            android:name=".legacy.features.fullImage.FullImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />

        <activity
            android:name=".legacy.features.post.checkIn.CheckInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CheckInTheme"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>