<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.goin.feature.splash" >

    <application>

        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <data
                    android:host="www.goin.com.br"
                    android:scheme="https" />
                <data
                    android:host="open.app"
                    android:scheme="goin" />

                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="open"
                    android:scheme="goin" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>
